.container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #141414;
    padding: 10px;
    color: white;
    height: 100px;
    
}

h1{
    font-family: "Kanit", sans-serif;
    font-size: 5vh;
    color: rgb(180, 25, 105);
    margin-left: auto;
    margin-right: auto;
}