.modalback{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.837);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer{
    background-color: rgba(0, 0, 0, 0.849);
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modalHeader h2{
    color: bisque;
    text-align: center;
}

.imgDetails{
    display: flex;
    gap: 20px;
}

.imgModal{
    width: 40%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.movieDetails li{
    font-size: 14px;
    font-family:"Poppins", sans-serif;
    padding: 20px;
    color: aliceblue;
    text-align: start;
}

button{
    background-color:steelblue;
    height: 3vh;
    width: 2vw;
    border-radius: 50px;
    color: aliceblue;
    font-size: 15px;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}
